<a href='/courses/new'>- NEW -</a>
<% @courses.each do |course| %>
    <div>
        <h4><%= course.name %></h4>
        Location: <%= course.location %>
        <p>
            <%= course.description %>
        </p>
        <a href="/courses/edit?id=<%= course.id %>">EDIT</a>
        <a href="/courses/show?id=<%= course.id %>">SHOW</a>
    </div>
<% end %>